<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>COVID-19 API</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="./landing.css" />
  </head>
  <body>
    <nav class="navbar">
      <h1>COVID-19 Statistics API</h1>
    </nav>
    <div class="container">
      <section class="disclaimer">
        <h1>DISCLAIMER</h1>
        <p>
          The information provided by this API is a day old at best. In order to
          view current and up to date statistics, visit the
          <a
            href="https://www.arcgis.com/apps/opsdashboard/index.html#/bda7594740fd40299423467b48e9ecf6"
            target="_blank"
            >COVID-19 Dashboard by the Center for Systems Science and
            Engineering (CSSE) at Johns Hopkins University (JHU)</a
          >.
        </p>
      </section>
      <section class="about">
        <h1>About This API</h1>
        <ul>
          <li>
            <p>
              The statistics provided in this API are gathered from the Johns
              Hopkins Center for Systems Science COVID-19 Github repository
              <a
                href="https://github.com/CSSEGISandData/COVID-19"
                target="_blank"
                >here</a
              >. This API provides information related to COVID-19 statistics in
              the United States as well as globally.
            </p>
          </li>
          <li>
            <p>
              In order to get the necessary information from the CSV files that
              are provided by JHU, I created Python scripts that parse the CSVs
              and push the data into a SQL database. The Github repository for
              the Python scripts is
              <a href="https://github.com/darlose04/COVID-19" target="_blank"
                >here</a
              >.
            </p>
          </li>
          <li>
            <p>
              The Github repository for this API is located
              <a href="https://github.com/darlose04/COVID-API" target="_blank"
                >here</a
              >. This API uses Node.js and the Express framework, along with
              Knex.js to retrieve information from the database.
            </p>
          </li>
        </ul>
      </section>
      <section class="routes">
        <h1>API Routes</h1>
        <p>
          Information can be retrieved from the following routes with GET
          requests:
        </p>
        <h3>Case Routes</h3>
        <small>Returns information related to confirmed cases</small>
        <ul>
          <li>
            <em>/api/usa/coronacases</em> : This route returns JSON objects for
            each U.S. territory, as well as objects for each county in every
            state.
          </li>
          <li>
            <em>/api/usa/coronacases/states/:state</em> : This route returns
            JSON objects for the counties of the state specified in the name
            parameter.
            <p>Example: <em>/api/usa/coronacases/states/New York</em></p>
          </li>
          <li>
            <em>/api/usa/coronacases/states/:state/county/:county</em> : This
            route returns a JSON object of the specified county of the specified
            state.
            <p>
              Example:
              <em>/api/usa/coronacases/states/Missouri/county/Boone</em>
            </p>
          </li>
          <li>
            <em>/api/usa/coronacases/population/:countypopulation</em> : This
            route returns JSON objects of all U.S. counties that have a
            population greater than the passed parameter.
            <p>
              Example:
              <em>/api/usa/coronacases/population/150000</em>
            </p>
          </li>
          <li>
            <em>/api/usa/coronacases/states/:state/:countypopulation</em> : This
            route returns JSON objects of the counties for the specified state
            that have a population greater than the passed parameter.
            <p>
              Example:
              <em>/api/usa/coronacases/states/California/120000</em>
            </p>
          </li>
          <li>
            <em>/api/global/coronacases</em> : This route returns JSON objects
            for each country, as well as objects for each province in some
            countries.
          </li>
          <li>
            <em>/api/global/coronacases/countries/:country</em> : This route
            returns JSON objects for the specified country.
            <p>
              Example:
              <em>/api/global/coronacases/countries/Germany</em>
            </p>
          </li>
        </ul>
        <h3>Death Routes</h3>
        <small>Returns information related to deaths from COVID-19</small>
        <ul>
          <li>
            <em>/api/usa/coronadeaths</em> : This route returns JSON objects for
            each U.S. territory, as well as objects for each county in every
            state.
          </li>
          <li>
            <em>/api/usa/coronadeaths/states/:state</em> : This route returns
            JSON objects for the counties of the state specified in the name
            parameter.
            <p>Example: <em>/api/usa/coronadeaths/states/New York</em></p>
          </li>
          <li>
            <em>/api/usa/coronadeaths/states/:state/county/:county</em> : This
            route returns a JSON object of the specified county of the specified
            state.
            <p>
              Example:
              <em>/api/usa/coronadeaths/states/Missouri/county/Boone</em>
            </p>
          </li>
          <li>
            <em>/api/usa/coronadeaths/population/:countypopulation</em> : This
            route returns JSON objects of all U.S. counties that have a
            population greater than the passed parameter.
            <p>
              Example:
              <em>/api/usa/coronadeaths/population/150000</em>
            </p>
          </li>
          <li>
            <em>/api/usa/coronadeaths/states/:state/:countypopulation</em> :
            This route returns JSON objects of the counties for the specified
            state that have a population greater than the passed parameter.
            <p>
              Example:
              <em>/api/usa/coronadeaths/states/California/120000</em>
            </p>
          </li>
          <li>
            <em>/api/global/coronadeaths</em> : This route returns JSON objects
            for each country, as well as objects for each province in some
            countries.
          </li>
          <li>
            <em>/api/global/coronadeaths/countries/:country</em> : This route
            returns JSON objects for the specified country.
            <p>
              Example:
              <em>/api/global/coronacases/countries/Canada</em>
            </p>
          </li>
        </ul>
        <h3>Daily Report Routes</h3>
        <small
          >Returns daily reported information related to COVID-19 from each
          state and territory</small
        >
        <ul>
          <li>
            <em>/api/usa/dailyreport</em> : This route returns JSON objects for
            each U.S. territory and state, providing information that is given
            in daily report CSVs.
          </li>
          <li>
            <em>/api/global/dailyreport</em> : This route returns JSON objects
            for each country and the associated states/provinces for some
            countries, providing information that is given in daily report CSVs.
          </li>
        </ul>
      </section>
    </div>
  </body>
</html>
