<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>COVID-19 API</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="./landing.css" />
  </head>
  <body>
    <nav class="navbar">
      <h1>COVID-19 Statistics API</h1>
    </nav>
    <div class="container">
      <section class="disclaimer">
        <h1>DISCLAIMER</h1>
        <p>
          The information provided by this API is a day old at best. In order to
          view current and up to date statistics, visit the
          <a
            href="https://www.arcgis.com/apps/opsdashboard/index.html#/bda7594740fd40299423467b48e9ecf6"
            target="_blank"
            >COVID-19 Dashboard by the Center for Systems Science and
            Engineering (CSSE) at Johns Hopkins University (JHU)</a
          >.
        </p>
      </section>
    </div>
  </body>
</html>
