<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>COVID-19 API</title>
    <link rel="stylesheet" href="./landing.css" />
  </head>
  <body>
    <nav class="navbar">
      <h1>COVID-19 Statistics API</h1>
    </nav>
    <div class="container">
      <div class="disclaimer">
        <h1>DISCLAIMER</h1>
      </div>
    </div>
  </body>
</html>
